---
title: "Jennifer Rexford"
layout: default
permalink: "/author-jennifer-rexford.html"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}} <span class="small btn btn-outline-success btn-sm btn-round"><a href="{{ site.authors.jrex.site }}">View</a></span></h2>
                <p class="excerpt">{{ site.authors.jrex.bio }}</p>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors.jrex.name }}" src="{{site.url}}/{{ site.authors.jrex.avatar }}" class="rounded-circle" height="100" width="100">
            </div>
        </div>
        <h4 class="font-weight-bold spanborder"><span>Posts by {{page.title}}</span></h4>
        {% for post in site.posts %}
        {% if post.authors contains "jrex" %}
        {% include main-loop-card.html %}
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>
